.play__container {
	background-color: #FFE2C0;
	width: 35%;
	margin: $lg auto 0 auto;
	padding: $sm $md;
	text-align: center;
	background-image: url('../../assets/img/background2.jpg');
}

.logo__wrap {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	font-family: $roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 112px;
	text-align: center;
	color: #FFC671;
	mix-blend-mode: normal;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.question-wrap {
	display: flex;
	justify-content: space-between;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 20px;
}

.question-text {
	font-family: $roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 56px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}

.answers-wrap {
	display: inline-block;
	width: 99%;
}

.answer-btn {
	background-color: #57B846;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	color: $white;
	cursor: pointer;
	margin: $md auto;
	padding: $normal;
	transition: 0.3s linear all;
	text-align: center;
	width: 220px;
	height: 60px;
	font-family: $roboto;
	font-style: normal;
	font-size: 16px;
}

.answer-btn:hover {
	background-color: darken(#57B846, 20%);
}

.button-wrap {
	display: flex;
	justify-content: flex-start;
	margin: 0 auto $sm auto;
	padding: $md;
	width: 80%;
}

.button-wrap button {
	border: none;
	color: $off-white;
	cursor: pointer;
	font-family: $roboto;
	margin-right: $md;
	padding: $xs $sm;
}

#quit-button {
	background-color: $red;
	box-shadow: $shadow;
	transition: 0.2s linear all
}
#quit-button:hover {
	background-color: darken($red, 10%);
}



